.ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin-top: 10px;
}
.ul li{
    margin-left: 30px;
    padding: 4px 8px;
}
.ul li a{
    text-decoration: none;
    color:black;
    font-weight: 500;
}
.ul li a:hover{
    color: #6946F4;
}
.listyle{
    background-color: #6946F4;
    border-radius: 5px;
}
.listyle a{
    color: #fff !important;
    
}
.listyle a:hover{
    color: black !important;
}