.btnInput{
    text-align: center;
}
.allItem{
    margin-top: 30px;
}
.inputStyle{
    border: none;
    background: #F1F1F1;
    height: 40px;
    width: 300px;
    padding: 0px 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.searchIcon{
    position: absolute;
    margin: 8px;
    font-size: 25px;
    color: #757575;
}
.btnStyle{
    border: none;
    color: white;
    background-color: #6946F4;
    height: 40px;
    width: 105px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 500;
}
